@import "tailwindcss";
@import "flowbite";

[x-cloak] { display: none !important; }

/* Hide number input spinners for all browsers */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}